/* 

 - le selecteur : indique quel element html on veut styliser (affecter)
 - la propriete : le comportement a appliquer
 - la valeur : precision de la propriete

 des regles css

 + trois type de selecteur :
    - par balise
    - par classe : repeter plusieurs fois dans la meme page
    - par id: doit etre unique sur une page

*/

#intro {
    color: gray;
    font-size: 16px;
}

h3 {
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
}

.paragraph {
    font-size: 16px;
    text-align: justify;
}